.cards {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1 1 0;
  height: 100%;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  display: none;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cards__item__title {
  color: #252e48;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 6px;
}

.cards__item__description {
  color: #252e48;
  font-size: 16px;
  line-height: 1.6;
}

.cards__item__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding: 0;
  background-color: transparent;
  color: var(--secondary);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.cards__item__btn:hover {
  color: #b53abf;
  transform: translateX(2px);
  text-decoration: none !important;
}

.cards__item__btn-icon {
  font-size: 15px;
  margin-left: 8px;
}

.cards--projects-page {
  padding-top: 6rem;
}

.cards__section-title {
  font-size: 2rem;
  margin: 0 0 2.75rem;
  text-align: left;
  font-weight: bold;
  margin-left: 1rem;
}

.cards__section-title.ecommerce {
  margin-top: 5rem;
}

.cards__cta {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.cards__cta {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
    align-items: stretch;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .cards--projects-page {
    padding: 1rem;
  }

  .cards {
    padding: 1rem;
    padding-top: 3rem;
  }
  .cards > h1 {
    padding: 1rem;
  }
}
